body {
  margin: 0;
  font-family: "Montserrat" -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green-primary: #01df9b;
  --red-primary: #fc3a3a;
  --gray-primary: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-item.active .page-link {
  background-color: var(--gray-primary) !important;
  border-color: var(--gray-primary);
  color: black;
  font-weight: bold;
}

.toggle-container {
  background-color: #eee;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;
}

.toggle-container .active {
  transform: scaleY(1);
}

.fa-caret-right {
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

.fa-caret-right.open {
  transform: rotate(90deg);
  transition: transform 0.5s linear;
}

.page-item .page-link {
  cursor: pointer;
  border-color: var(--gray-primary);
  color: black;
  font-weight: bold;
}

.page-item .page-link:focus {
  border: none !important;
  box-shadow: none;
}

.border-color-green {
  border: 1px solid var(--green-primary);
}

.border-color-red {
  border: 1px solid var(--red-primary);
}

.checkbox-red {
  background-color: var(--red-primary) !important;
  border-color: var(--red-primary) !important;
}

.btn-white {
  border-radius: 30px;
  color: black;
  font-weight: bold;
  background-color: white;
  outline: none !important;
  border: none;
  padding: 0.3rem 1.3rem 0.3rem 1.3rem;
}

.btn-color-white {
  background: #fff;
  border-color: #fff;
}

.btn-color-white.disabled {
  background: #fff;
  border-color: #fff;
  pointer-events: none;
}

.btn-color-white:active .btn-color-white:hover {
  background-color: #fff !important;
  border-color: #fff;
  opacity: 0.8;
  box-shadow: none !important;
  transition: all 0.2s ease-out;
}

.btn-color-white:focus,
.btn-color-white:active,
.btn-color-white:visited {
  background-color: #fff !important;
  border-color: #fff;
  box-shadow: none !important;
}

.bg-primary-green {
  background-color: var(--green-primary);
}

.text-color-white {
  color: #fff !important;
}

.dropdown button {
  background-color: var(--green-primary);
  border: none;
  color: #000;
}

.dropdown button:hover {
  background: var(--green-primary);
  border-color: var(--green-primary);
  color: black !important;
  opacity: 0.9;
  transition: all 0.2s ease-out;
}

.dropdown button:focus,
.dropdown button:active,
.dropdown button:checked,
.dropdown button:visited {
  background-color: var(--green-primary) !important;
  color: black !important;
  border-color: var(--green-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(1, 223, 155, 0.25) !important;
}

.btn-green {
  border-radius: 15px;
  color: black;
  font-weight: bold;
  background-color: var(--green-primary);
  outline: none !important;
  border: none;
  padding: 1rem 2.5rem 1rem 2.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  position: relative;
}

.btn-color-green {
  background: var(--green-primary);
  border-color: var(--green-primary);
}

.bg-color-green {
  background-color: var(--green-primary) !important;
}

.cursor-default {
  cursor: default;
}

.form-input-green:checked {
  background-color: var(--green-primary);
  border-color: var(--green-primary);
}

.btn-color-green.disabled {
  background: var(--green-primary);
  border-color: var(--green-primary);
  pointer-events: none;
}

.form-input-green:focus {
  border-color: var(--green-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(1, 223, 155, 0.25);
}

.btn-color-green:hover {
  background: var(--green-primary);
  border-color: var(--green-primary);
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.btn-color-green:focus,
.btn-color-green:active,
.btn-color-green:visited {
  background-color: var(--green-primary) !important;
  border-color: var(--green-primary);
  box-shadow: none;
}

.btn-reset {
  outline: none;
  border: none;
}

.btn-white:hover {
  color: black;
  background-color: white;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.formular,
.grup {
  background: #e5e5e5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 15px);
  flex: 0 0 calc(50% - 15px);
}

@media only screen and (min-width: 968px) {
  .formular {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 15px);
    flex: 0 0 calc(25% - 15px);
  }
}

@media only screen and (max-width: 568px) {
  .formular {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 15px);
    flex: 0 0 calc(100% - 15px);
  }
}

.formular p,
.grup p {
  margin: 0;
}

.formular .formular__header--heading .__heading,
.grup .grup__header--heading .__heading {
  color: #000000;
  font-size: 28px;
  margin: 0;
}

.formular .formular__header--heading .created__at,
.grup .grup__header--heading .created__at {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
  margin: 10px 0 0 0;
}

.formular .formular__body,
.grup .grup__body {
  margin-top: 20px;
}

.formular .formular__body p,
.grup .grup__body p {
  margin: 0;
}

.formular .formular__body .body__attribute,
.grup .grup__body .body__attribute {
  background: #fffdfd;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formular .formular__body .body__attribute .attribute__left,
.grup .grup__body .body__attribute .attribute__left {
  text-align: left;
}

.formular .formular__body .body__attribute .attribute__left .__tag,
.grup .grup__body .body__attribute .attribute__left .__tag {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}

.formular .formular__body .body__attribute .attribute__left .__attribute--value,
.grup .grup__body .body__attribute .attribute__left .__attribute--value {
  font-size: 24px;
  color: #000000;
}

.formular .formular__body .body__attribute .attribute__right i,
.grup .grup__body .body__attribute .attribute__right i {
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-size: 26px;
  background: var(--green-primary);
  color: #2c2938;
  border-radius: 50%;
  display: block;
}

.formular .formular__body .body__attribute:not(:last-child),
.grup .grup__body .body__attribute:not(:last-child) {
  margin-bottom: 20px;
}

.formular .formular__footer,
.grup .grup__footer {
  margin-top: 20px;
}

.formular .formular__footer .administreaza__btn,
.grup .grup__footer .vezi__grup__btn {
  cursor: pointer;
  outline: none;
  background: var(--green-primary);
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
}
