body {
  margin: 0;
  font-family: "Montserrat" -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green-primary: #01df9b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-white {
  border-radius: 30px;
  color: black;
  font-weight: bold;
  background-color: white;
  outline: none !important;
  border: none;
  padding: 0.3rem 1.3rem 0.3rem 1.3rem;
}

.btn-color-white {
  background: #fff;
  border-color: #fff;
}

.btn-color-white.disabled {
  background: #fff;
  border-color: #fff;
  pointer-events: none;
}

.btn-color-white:hover {
  background: #fff;
  border-color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.btn-color-white:focus,
.btn-color-white:active,
.btn-color-white:visited {
  background-color: #fff !important;
  border-color: #fff;
  box-shadow: none;
}

.bg-primary-green {
  background-color: var(--green-primary);
}

.text-color-white {
  color: #fff !important;
}

.dropdown button {
  background-color: var(--green-primary);
  border: none;
  color: #000;
}

.dropdown button:hover {
  background: var(--green-primary);
  border-color: var(--green-primary);
  color: black !important;
  opacity: 0.9;
  transition: all 0.2s ease-out;
}

.dropdown button:focus,
.dropdown button:active,
.dropdown button:checked,
.dropdown button:visited {
  background-color: var(--green-primary) !important;
  color: black !important;
  border-color: var(--green-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(1, 223, 155, 0.25) !important;
}

.btn-green {
  border-radius: 15px;
  color: black;
  font-weight: bold;
  background-color: var(--green-primary);
  outline: none !important;
  border: none;
  padding: 1rem 2.5rem 1rem 2.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  position: relative;
}

.btn-color-green {
  background: var(--green-primary);
  border-color: var(--green-primary);
}

.btn-color-green.disabled {
  background: var(--green-primary);
  border-color: var(--green-primary);
  pointer-events: none;
}

.form-input-green:checked {
  background-color: var(--green-primary);
  border-color: var(--green-primary);
}

.form-input-green:focus {
  border-color: var(--green-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(1, 223, 155, 0.25);
}

.btn-color-green:hover {
  background: var(--green-primary);
  border-color: var(--green-primary);
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.btn-color-green:focus,
.btn-color-green:active,
.btn-color-green:visited {
  background-color: var(--green-primary) !important;
  border-color: var(--green-primary);
  box-shadow: none;
}

.btn-reset {
  outline: none;
  border: none;
}

.btn-white:hover {
  color: black;
  background-color: white;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}
